@model JogadorPessoa

@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "ContinuarJogo";
}

<h2>Continuar Jogo</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                <span>ID do Jogo</span>
            </th>
            <th>
                <span>Jogador 1</span>
            </th>
            <th>
                <span>Jogador 2</span>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Jogos)
        {
            @if (SignInManager.IsSignedIn(User) &&
                 User.Identity.Name == item.Jogador1.Email || User.Identity.Name == item.Jogador2.Email)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            @Html.DisplayFor(modelItem => item.Jogador1.Nome)
                        }
                    </td>
                    <td>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            @Html.DisplayFor(modelItem => item.Jogador2.Nome)
                        }

                    </td>
                    <td>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            @if (item.Jogador2Id.HasValue)
                            {
                                @if (item.Tabuleiro == null || (item.Tabuleiro != null && item.Tabuleiro.Resultado == 0))
                                {
                                    <a asp-area="" asp-controller="Jogo"
                                       asp-action="Tabuleiro"
                                       asp-route-id="@item.Id" class="btn btn-default">Continuar</a>
                                }
                            }
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>