@model Jogo

@using Microsoft.AspNetCore.Identity

@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Tabuleiro";
}

<link rel="stylesheet" href="~/css/tabuleiro.css" />

<div class="container">
    <div id="top">
        <div class="row">
            <div class="col-md-12">
                <h2>Tabuleiro</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h1>Connect4 - @ViewBag.mensagem</h1>
            </div>
        </div>
    </div>
        <div id="jogadores" class="row">
            <div id="jogador1" class="Borda col-md-5">
                @Model.Jogador1.Nome
            </div>
            <div id="jogadas" class="Borda Jogadas col-md-2">
                Jogadas: 0
            </div>
            <div id="jogador2" class="Borda col-md-5">
                @Model.Jogador2.Nome
            </div>
        </div>
        <div class="foo red" />
    </div>

    <!--O tabuleiro será montado dentro desta div, por meio da função
    que está no javascript: tabuleiro.js.-->
    <div style="margin: 15px" id="Tabuleiro" class="tabuleiro">

    </div>

    <!--Necessário estar em uma seção para garantir que o script
    esteja após a importação do jquery.-->
    @section Scripts{
        <script src="~/js/tabuleiro.js"></script>
        <script>
        //Obtem o ID do Jogo que está no objeto de modelo enviado pela controller.
        jogoId = "@Model.Id";
        //Requer o jogo do servidor.
        obterJogoServidor(jogoId);

        setInterval(function () {
            obterJogoServidor(jogoId)
        }, 1000
        )

        </script>
    }
