@model Jogo

@{
    ViewData["Title"] = "Tabuleiro";
}

<h2>Tabuleiro</h2>
<link rel="stylesheet" href="~/css/tabuleiro.css" />
<h1>Connect-4</h1>

<div class="container">
    <div class="row">
        <div class="col-lg-6 Turno">
            Jogador 01
        </div>
        <div class="col-lg-6">
            Jogador 02
        </div>
    </div>
</div>


//O tabuleiro será montado dentro desta div, por meio da função
//que está no javascript: tabuleiro.js.
<div id="Tabuleiro" class="tabuleiro">


</div>
//Necessário estar em uma seção para garantir que o script 
//esteja após a importação do jquery.
@section Scripts{
    <script src="~/js/tabuleiro.js"></script>
    <script>
        //Obtem o ID do Jogo que está no objeto de modelo enviado pela controller.
        jogoId = "@Model.Id";
        //Requer o jogo do servidor.
        obterJogoServidor(jogoId);
    </script>
}

