@model SelecionarUsuarioViewModel

@{
    ViewData["Title"] = "SelecionarJogadores";
}

<h2>Selecionar Jogadores</h2>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="SelecionarJogadores">
            <div class="form-group">
                <select multiple size="10" style="width: 300px;"
                        asp-for="JogadoresIds"
                        asp-items="@ViewBag.Jogadores"></select>
            </div>
            <input type="submit" value="Salvar" class="btn btn-default" />
        </form>
    </div>
</div>